@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
} 

/* 回答はここに書いてね */

.q2_content {
  width: 940px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eff3f4;
  margin: auto;
}

.q2_content_top_box {
  float: left;
}

.q2_content_top_picture {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.q2_content_text{
  /* float: left; */
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.q2_content_bottom_picture {
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
  /* 回答はここに書いてね */
