@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7_first_child:first-child {
  margin-left: 0;
}

.q7_last_child:last-child {
  margin-left: 0;
}

.q7_connect {
  width: 225px;
  box-sizing: border-box;
  margin-left: 50px;
}

/*q7-1-floatここから*/

.q7-1_float {
  float: left;
}

/*q7-2-tableここから*/

.q7-2_table {
  display: table;
}

/* table-cell間隔に使用
  border-collapse: separate;
  border-spacing: 左右　上下; */

.q7-2_table_cell {
  display: table-cell;
  vertical-align: middle;
}

/*q7-3-inline-blockここから*/

.q7-3_inline {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.q7-3_inner {
  font-size: 0;
}

/*q7-4-flexここから*/

.q7-4_inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/*q7-5-inline-block-marginここから*/

.is-full {
  font-size: 0;
}
.q7__box__text {
  font-size: 16px;
}

.q7-5_box_left {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.q7-5_box_right {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 350px;
  margin-left: -300px;
}
/* 回答はここに書いてね */
